.pi-img-wrapper {
  position: relative;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.font-sm-18 {
  font-size: 18px;
}

.text-sm-left {
  text-align: left;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.bold {
  font-weight: 700 !important;
}

.text-center {
  text-align: center;
}
